:host ::ng-deep {
  th {
    background-color: #f2f2f2;
    cursor: pointer;
    border-right: 1px solid #ccc;
    text-align: left;
    padding: 0px 7px;
  }

  td {
    padding: 8px;
    border-right: 1px solid #ccc;
  }


  th:last-child, td:last-child {
    border-right: none;
  }

  .ui-paginator .ui-paginator-page {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    color: #333;
    padding: 6px 12px;
    margin: 0 2px;
    cursor: pointer;
  }

  .ui-paginator .ui-paginator-page:hover {
    background-color: #ddd;
  }

  .cancel {
    width : fit-content;
  }

  .ui-paginator .ui-paginator-page.ui-state-active,
  .ui-paginator .ui-paginator-page.ui-state-hover {
    background-color: #ddd;
  }

  .ui-paginator .ui-paginator-rpp-options {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    color: #333;
    padding: 6px 12px;
    cursor: pointer;
  }

  .ui-paginator .ui-paginator-rpp-options .ui-dropdown-trigger {
    background-color: transparent;
    border-color: transparent;
    color: #333;
  }

  .ui-paginator .ui-paginator-rpp-options .ui-dropdown-items-wrapper {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: #333;
  }
}
