:host ::ng-deep {
  th {
    background-color: #f2f2f2;
    cursor: pointer;
    border-right: 1px solid #ccc; /* Add vertical border to the right */
  }

  /* Style the table cells */
  td {
    padding: 8px;
    border-right: 1px solid #ccc; /* Add vertical border to the right */
  }

  /* Style the last column to remove the vertical border */
  th:last-child, td:last-child {
    border-right: none;
  }

  .ui-paginator .ui-paginator-page {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    color: #333;
    padding: 6px 12px;
    margin: 0 2px;
    cursor: pointer;
  }

  /* Style the pagination buttons on hover */
  .ui-paginator .ui-paginator-page:hover {
    background-color: #ddd;
  }

  /* Style the pagination input field */
  .ui-paginator .ui-paginator-page.ui-state-active,
  .ui-paginator .ui-paginator-page.ui-state-hover {
    background-color: #ddd;
  }

  /* Style the pagination dropdown */
  .ui-paginator .ui-paginator-rpp-options {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    color: #333;
    padding: 6px 12px;
    cursor: pointer;
  }

  /* Style the pagination dropdown arrow */
  .ui-paginator .ui-paginator-rpp-options .ui-dropdown-trigger {
    background-color: transparent;
    border-color: transparent;
    color: #333;
  }

  /* Style the pagination dropdown options */
  .ui-paginator .ui-paginator-rpp-options .ui-dropdown-items-wrapper {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: #333;
  }
}
.table{
  padding: 5%;
}
