:host ::ng-deep {
  th {
    background-color: #f2f2f2;
    cursor: pointer;
    border-right: 1px solid #ccc; /* Add vertical border to the right */
  }

  /* Style the table cells */
  td {
    padding: 8px;
    border-right: 1px solid #ccc; /* Add vertical border to the right */
  }

  /* Style the last column to remove the vertical border */
  th:last-child, td:last-child {
    border-right: none;
  }

  .ui-paginator .ui-paginator-page {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    color: #333;
    padding: 6px 12px;
    margin: 0 2px;
    cursor: pointer;
  }

  /* Style the pagination buttons on hover */
  .ui-paginator .ui-paginator-page:hover {
    background-color: #ddd;
  }

  /* Style the pagination input field */
  .ui-paginator .ui-paginator-page.ui-state-active,
  .ui-paginator .ui-paginator-page.ui-state-hover {
    background-color: #ddd;
  }

  /* Style the pagination dropdown */
  .ui-paginator .ui-paginator-rpp-options {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    color: #333;
    padding: 6px 12px;
    cursor: pointer;
  }

  /* Style the pagination dropdown arrow */
  .ui-paginator .ui-paginator-rpp-options .ui-dropdown-trigger {
    background-color: transparent;
    border-color: transparent;
    color: #333;
  }

  /* Style the pagination dropdown options */
  .ui-paginator .ui-paginator-rpp-options .ui-dropdown-items-wrapper {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: #333;
  }
}
.table{
  padding: 5%;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  padding: 10px 20px;
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.top-right:hover {
  background-color: #45a049; /* Darker green background color on hover */
}

.edit-button {
  display: flex; /* Make the button a flex container */
  align-items: center; /* Align items vertically in the center */
  gap: 5px; /* Add some space between icon and text */
}

.edit-button i {
  font-size: 16px; /* Adjust the icon size */
}
