<div class="modal-overlay">
  <div class="renting-details">
    <div class="details-row">
      <label>Book Name:</label>
      <span>{{ bookDetails.bookName }}</span>
    </div>
    <div class="details-row">
      <label>Book Author:</label>
      <span>{{ bookDetails.bookAuthor }}</span>
    </div>
    <div class="details-row">
      <label>Customer Name:</label>
      <input type="text" [(ngModel)]="bookDetails.customerName" name="customerName" class="input-field">
    </div>
    <div class="details-row">
      <label>Return Date:</label>
      <br>
      <input type="date" [(ngModel)]="bookDetails.returnDate" name="returnDate" [min]="minDate" [max]="maxDate" class="input-field">
    </div>
    <div class="button-container">
      <button class="submit-button" (click)="onSubmit()">Submit</button>
      <button class="cancel-button" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
