<div class="Logo">
  <img src="assets/png/logo.png" alt="Logo" >
</div>
<div class="header">
  <div>
    <app-search-component></app-search-component>
  </div>
</div>
<div class="left-panel">
  <ul *ngIf="userType == 'librarian'">
      <li>
        <p-button (onClick)="customHandleClick('books')">
         <img src="assets/svg/books.svg" alt="Books" class="svg-icon" >
          Books
        </p-button>
      </li>
      <li>
        <p-button (onClick)="customHandleClick('all-reservations')">
          <img src="assets/svg/reserve.svg" alt="All-Reservations" class="svg-icon">
          Reservations
        </p-button>
      </li>
      <li>
        <p-button (onClick)="customHandleClick('all-rentings')">
          <img src="assets/svg/rentings.svg" alt="All-Rentings" class="svg-icon">
          Rentings
        </p-button>
      </li>
      <li>
        <p-button (onClick)="customHandleClick('users')">
          <img src="assets/svg/users.svg" alt="Users" class="svg-icon">
         Users
        </p-button>
      </li>
  </ul>

  <ul *ngIf="userType == 'user'">
    <li>
      <p-button (onClick)="customHandleClick('books')">
        <img src="assets/svg/books.svg" alt="Books" class="svg-icon" >
        Books
      </p-button>
    </li>
    <li>
      <p-button (onClick)="customHandleClick('user-reservations')">
        <img src="assets/svg/reserve.svg" alt="Reservations" class="svg-icon">
        My Reservations
      </p-button>
    </li>
    <li>
      <p-button (onClick)="customHandleClick('user-rentings')">
        <img src="assets/svg/rentings.svg" alt="Rentings" class="svg-icon">
        My Rentigns
      </p-button>
    </li>
    <li>
      <p-button (onClick)="customHandleClick('user')">
        <img src="assets/svg/users.svg" alt="" class="svg-icon">
        My Profile
      </p-button>
    </li>
  </ul>
  <!-- Left panel content -->
</div>
<div class="content">
  <ng-container>
    <router-outlet></router-outlet>
  </ng-container>
</div>
