
 h2 {
  margin-top: -10%;
}
 h3{
  text-align: center;
   margin-bottom: 30px;
 }
 p{
   margin-bottom: 10px;
 }
.table-spacing{
  margin-bottom: 100px;
  padding-right: 5%;
  padding-left: 5%;
}
 .table{
  padding-right: 5%;
  padding-left: 5%;
   padding-bottom: 5%;
}

.rentings-table {
  width: 100%;
  border-collapse: collapse;
}

.rentings-table th,
.rentings-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.rentings-table th {
  background-color: #f2f2f2;
}
