<h2>User Information</h2>
<p>Email: {{ user.email }}</p>
<p>Full Name: {{ user.fullName }}</p>
<p>Number of Reservations: {{ user.numberOfReservations }}</p>
<p>Number of Rentings: {{ user.numberOfRentings }}</p>
<p>Active: {{ user.active ? 'Yes' : 'No' }}</p>

<div *ngIf="userType == 'librarian'">
  <h3>Rentings</h3>
  <div class="table-spacing">
    <p-table [value]="user.rentings" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]">
      <ng-template pTemplate="header">
        <tr>
          <th>Start Date</th>
          <th>Return Date</th>
          <th>Status</th>
          <th style="width: 15px;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-renting>
        <tr>
          <td>{{ renting.startDate }}</td>
          <td>{{ renting.returnDate }}</td>
          <td>{{ renting.status }}</td>
          <td>
            <p-button class="edit-button">
              <i class="fa fa-times"></i>
            </p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <h3>Reservations</h3>
  <div class="table">
    <p-table [value]="user.reservations" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]">
      <ng-template pTemplate="header">
        <tr>
          <th>Reservation Id</th>
          <th>Book Id</th>
          <th>Reserved Until</th>
          <th>Library</th>
          <th style="width: 15px;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-reservation>
        <tr>
          <td>{{ reservation.reservationId }}</td>
          <td>{{ reservation.bookId }}</td>
          <td>{{ reservation.reservedUntil }}</td>
          <td>{{ reservation.library }}</td>
          <td>
            <p-button class="edit-button">
              <i class="fa fa-cancel"></i>
            </p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
